<h1>edit log</h1>

<%= bootstrap_form_for @creature  do |f| %>
<%= f.text_field :name %>
<%= f.text_area :description %>
<%= f.collection_check_boxes :tag_ids, @tags, :id, :name %>

<%= f.submit "edit" %>

<% end %>